image: maven:3.6.3-openjdk-14

cache:
  paths:
    - .m2/repository

java:
  stage: test
  script:
    - mvn verify
  artifacts:
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml

build:
  stage: build
  script:
    - mvn package
  artifacts:
    paths:
      - target/jlox.jar
